.App {
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.progress-bar-container {
  height: 400px;
}

.progress-bar-container > .progress {
  transform: rotate(270deg);
  position: relative;
  top: 170px;
}

.progress-bar-container > .progress >.bar > .progress {
  color: red;
  transform: rotate(90deg);
}
